{{#extends "base"}}
{{#block "title"}}
ABOUT | Real Poster
{{/block}}

{{#block "content"}}
<h1>Founded Since 2019</h1>
<h2>We sell posters be it of bands, albums, movies or games.</h2>
{{/block}}

{{/extends}}