{{#extends "base"}}
{{#block "title"}}
HOME | Real Poster
{{/block}}

{{#block "content"}}
<h1>Welcome to Real Poster</h1>
<h2>The portal where we sell super expensive posters</h2>
{{/block}}

{{/extends}}